doctype html
html(lang="en")
    include head.pug
    body 
        include header.pug

        include main.pug
            
            div(class="text-center")
                h1(class="display-4") Enhorabuena!
                p Bienvenido a la pagina principal de Inmobiliaria La Toma


        include footer.pug