doctype html
html(lang="en")
    include head.pug
    body 
        include header.pug

        include main.pug

            h1 Inicio de Inmueble
            br
            p
                a(class="btn btn-success",href=("/Inmueble/#")) Ingresar un nuevo Inmueble
            table(class="table")
                thead
                    tr
                        th Cod. Inmueble
                        th Propietario
                        th Direccion
                        th Uso
                        th Tipo
                        th Amb.
                        th Latitud
                        th Longitud
                        th Precio
                        th Estado
                        th acciones
                tbody
                    tr
                        td 1
                        td Fernando Novara
                        td Sucre 123
                        td Comercial
                        td Local
                        td 4
                        td 24123.32
                        td 312.5
                        td 20000.0
                        td Disponible
                        td
                            a(class="btn btn-warning",href=("/#"),title="Editar",style="margin-right: 2px;")
                                i(class="fas fa-pencil-alt")

                            a(class="btn btn-info",href=("/#"),title="Detalles",style="margin-right: 2px;")
                                i(class="fas fa-book")

                            a(class="btn btn-danger",href=("/#"),title="Eliminar",style="margin-right: 2px;")
                                i(class="fas fa-trash-alt")

    include footer.pug