doctype html
html(lang="en")
    include head.pug
    body 
        include header.pug

        include main.pug

            h1 Inicio de Usuario
            br
            p
                a(class="btn btn-success",href=("/Usuario/#")) Ingresar un nuevo Usuario
            table(class="table")
                thead
                    tr
                        th Cod. Usuario
                        th Nombre
                        th Apellido
                        th Email
                        th Clave
                        th Avatar
                        th Rol
                        th acciones
                tbody
                    tr
                        td 1
                        td Fernando
                        td Novara
                        td Fernando@gmail.com
                        td 1234
                        td ---
                        td Empleado
                        td
                            a(class="btn btn-warning",href=("/#"),title="Editar",style="margin-right: 2px;")
                                i(class="fas fa-pencil-alt")

                            a(class="btn btn-info",href=("/#"),title="Detalles",style="margin-right: 2px;")
                                i(class="fas fa-book")

                            a(class="btn btn-danger",href=("/#"),title="Eliminar",style="margin-right: 2px;")
                                i(class="fas fa-trash-alt")

    include footer.pug