header
    nav(class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3")
        div(class="container-fluid")
            a(class="navbar-brand text-white",href="/") Inmobiliaria La Toma

            div(class="navbar-collapse collapse d-sm-inline-flex justify-content-between")
                ul(class="navbar-nav flex-g row-1")
                    li(class="nav-item")
                        
                    li(class="nav-item")
                        a(class="nav-link text-white",href="/") Home  

                    li(class="nav-item")
                        a(class="nav-link text-white",href=("/Propietario/show")) Propietario

                    li(class="nav-item")
                        a(class="nav-link text-white",href=("/Inmueble/show")) Inmueble

                    li(class="nav-item")
                        a(class="nav-link text-white",href=("/Inquilino/show")) Inquilino    

                    li(class="nav-item")
                        a(class="nav-link text-white",href=("/Contrato/show")) Contrato

                    li(class="nav-item")
                        a(class="nav-link text-white",href=("/Pago")) Pago

                    li(class="nav-item")
                        a(class="nav-link text-white",href=("/Usuario/show")) Usuario

                        