doctype html
html(lang="en")
    include ../Modulo/head.pug
    body 
        include ../Modulo/header.pug

        include ../Modulo/main.pug
            
            div(class="text-center")
                h1(class="display-4") Enhorabuena!
                p Bienvenido a la pagina principal de Inmobiliaria La Toma


        include ../Modulo/footer.pug